<head>
    <link rel="stylesheet" href="/stylesheets/index.css" type="text/css">
</head>


<h1 style="text-align:center;"><span style="font-family:PL Latin Bold">MY PLAYBILL VAULT</span></h1>
<% site = "https://playbill.com/productions?venue-type=broadway" %>
<% doc = Nokogiri::HTML(open(site)) %>

<table style="margin-left: auto; margin-right: auto;">
    <tr>
        <td style="padding:15px">
            <img src="/images/playbill_images/the_book_of_mormon.jpeg" width="150">
        </td>
        <td style="padding:15px">
            <img src="/images/playbill_images/cinderella.jpeg" width="150">
        </td>
        <td style="padding:15px">
            <img src="/images/playbill_images/hamilton.jpeg" width="150">
        </td>
        <td style="padding:15px">
            <img src="/images/playbill_images/it_shoulda_been_you.jpeg" width="150">
        </td>
        <td style="padding:15px">
            <img src="/images/playbill_images/tootsie.jpeg" width="150">
        </td>
    </tr>

    <tr>
        <td style="padding:15px">
            <img src="/images/playbill_images/dreamgirls.jpeg" width="150">
        </td>
        <td style="padding:15px">
            <img src="/images/playbill_images/rent.jpeg" width="150">
        </td>
        <td style="padding:15px">
            <img src="/images/playbill_images/jesus_christ_superstar.jpeg" width="150">
        </td>
        <td style="padding:15px">
            <img src="/images/playbill_images/the_secret_garden.jpeg" width="150">
        </td>
        <td style="padding:15px">
            <img src="/images/playbill_images/fun_home.jpeg" width="150">
        </td>
    </tr>
</table>

<div class="button_container" style="text-align: center;">
    
    <button onclick="document.getElementById('id01').style.display='block'" style="width: 90px;">Log In</button>
  
    <div id="id01" class="modal"> 
        
        <form class="modal-content animate" action="/login" method="POST"> 
            <div class="imgcontainer"> 
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Window">×</span> 
                <p style="font-family: PL Latin Bold; background-color: rgb(255, 204, 0);">Unlock your PLAYBILL vault:</p>
                <img src= "/images/vault.jpg" alt="Avatar" class="avatar"> 
            </div> 
  
            <div class="container"> 
                <label><b>Username</b></label> 
                <input type="text" placeholder="Enter Username" name="username" required> 
  
                <label><b>Password</b></label> 
                <input type="password" placeholder="Enter Password" name="password" required> 
  
                <button type="submit">Login</button> 
            </div> 
  
        </form> 
    </div> 
  
    <script> 
        var login_window = document.getElementById('id01'); 
        window.onclick = function(event) { 
            if (event.target == login_window) { 
                login_window.style.display = "none"; 
            } 
        } 
    </script> 

    <button onclick="document.getElementById('id02').style.display='block'" style="width:90px;">Sign Up</button>
  
    <div id="id02" class="modal"> 
        
        <form class="modal-content animate" action="/signup" method="POST"> 
            <div class="imgcontainer"> 
                <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Window">×</span> 
                <p style="font-family: PL Latin Bold; background-color: rgb(255, 204, 0);">Create your PLAYBILL vault:</p>
                <img src= "/images/vault.jpg" alt="Avatar" class="avatar"> 
            </div> 
  
            <div class="container"> 
                <label><b>Username</b></label> 
                <input type="text" placeholder="Enter Username" name="username" required> 
  
                <label><b>Email</b></label> 
                <input type="text" placeholder="Enter Email" name="email" required> 

                <label><b>Password</b></label> 
                <input type="password" placeholder="Enter Password" name="password" required> 
  
                <button type="submit">Create Account</button> 
            </div> 
  
        </form> 
    </div> 
  
    <script> 
        var signup_window = document.getElementById('id02'); 
        window.onclick = function(event) { 
            if (event.target == signup_window) { 
                signup_window.style.display = "none"; 
            } 
        } 
    </script> 
</div>

<% if @errors %>
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  I'm sorry, <%= @errors.downcase.gsub(/[\[\]"]/, "") %>
</div>

<% end %>

<style>
    /* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
</style>